<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SANCUS - Documentation</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index">Sancus</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                            <li class="active"><a class="nav-link" href="#">Documentation</a></li>
                            <li class="nav-item"><a class="nav-link" target=”_blank” href="/swagger-ui.html">REST-API</a></li>
                            <li class="nav-item"><a class="nav-link" target=”_blank” href="http://kg.dlt.linkeddata.es/">Triple Store</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Documentation</h1>
                    </div>
                    <div class="row gx-5">
                        <div class="col-xl-8">
                            <!-- Semantic Ethereum -->
                            <h2 class="fw-bolder mb-3">Semantic Ethereum block</h2>
                            <div class="accordion mb-5" id="accordionExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Semantic Ethereum Block</button></h3>
                                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This method allows to recover one block and express it semantically.</strong> The following parameters are required:
                                            <ul>
  												<li><strong>Block.</strong> <code>Integer.</code> The block you are looking for.</li>
												<li><strong>Jsonld.</strong> <code>True or false.</code> Return the result in JSON-LD 1.1 if true, if false, return the result in N-Triples.</li>
												<li><strong>URL.</strong> <code>String.</code> The network endpoint generated by Infura or Alchemy.</li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                               <!-- <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Semantic Block RDF</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <strong>This is the second item's accordion body.</strong>
                                            It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                                            <code>.accordion-body</code>
                                            , though the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <!-- Semantic Smart Contracts -->
                            <h2 class="fw-bolder mb-3">Semantic Smart Contract</h2>
                            <div class="accordion mb-5" id="accordionExample2">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Translate Contract from the chain</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method allows to recover one smart contract from the chain and express it semantically.</strong> The following parameters are required:
                                            <ul>
  												<li><strong>API.</strong> <code>String.</code> The API from Etherscan.</li>
												<li><strong>convertToRDF.</strong> <code>True or false.</code> Return the result in JSON-LD 1.1 if false, if true, return the result in N-Triples.</li>
												<li><strong>hash.</strong> <code>String.</code> The smart contract you are looking for.</li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Translate Contract JSON-LD</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method convert one smart contract to JSON-LD.</strong> The following parameter are required:
                                            <ul>
  												<li><strong>Smart Contract.</strong> <code>String.</code> The smart contract code.</li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingFive"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Translate Contract RDF</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method convert one smart contract to RDF.</strong> The following parameter are required:
                                            <ul>
  												<li><strong>Smart Contract.</strong> <code>String.</code> The smart contract code.</li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Semantic ABI -->
                            <h2 class="fw-bolder mb-3">Semantic ABI</h2>
                            <div class="accordion mb-5 mb-xl-0" id="accordionExample3">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingSix"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Translate Contract from the chain</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseSix" aria-labelledby="headingSix" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method allows to recover one smart contract ABI from the chain and express it semantically.</strong> The following parameters are required:
                                            <ul>
  												<li><strong>API.</strong> <code>String.</code> The API from Etherscan.</li>
												<li><strong>convertToRDF.</strong> <code>True or false.</code> Return the result in JSON-LD 1.1 if false, if true, return the result in N-Triples.</li>
												<li><strong>hash.</strong> <code>String.</code> The smart contract ABI you are looking for.</li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="accordion-item">
                                    <h3 class="accordion-header" id="headingSeven"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Translate Contract JSON-LD</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseSeven" aria-labelledby="headingSeven" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method allows to recover one block and express it semantically.</strong> The following parameters are required:
                                            <ul>
  												<li><strong>Block.</strong> <code>Integer.</code> The block you are looking for.</li>
												<li><strong>Jsonld.</strong> <code>True or false.</code> Return the result in JSON-LD 1.1 if true, if false, return the result in N-Triples.</li>
												<li><strong>URL.</strong> <code>String.</code> The network endpoint generated by Infura or Alchemy </li>
											</ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="headingEight"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Translate Contract RDF</button></h3>
                                    <div class="accordion-collapse collapse" id="collapseEight" aria-labelledby="headingEight" data-bs-parent="#accordionExample2">
                                        <div class="accordion-body">
                                            <strong>This method allows to recover one block and express it semantically.</strong> The following parameters are required:
                                            <ul>
  												<li><strong>Block.</strong> <code>Integer.</code> The block you are looking for.</li>
												<li><strong>Jsonld.</strong> <code>True or false.</code> Return the result in JSON-LD 1.1 if true, if false, return the result in N-Triples.</li>
												<li><strong>URL.</strong> <code>String.</code> The network endpoint generated by Infura or Alchemy </li>
											</ul>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card border-0 bg-light mt-xl-5">
                                <div class="card-body p-4 py-lg-5">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="text-center">
                                            <div class="h6 fw-bolder">Have more questions?</div>
                                            <p class="text-muted mb-4">
                                                Contact us at
                                                <br />
                                                <a href="#!">juan.cano@upm.es</a>
                                            </p>
                                            <div class="h6 fw-bolder">Social Networks</div>
                                            <a class="fs-5 px-2 link-dark" href="https://twitter.com/Jucanbe"><i class="bi-twitter"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/juan-cano-benito/"><i class="bi-linkedin"></i></a>
                                            <a class="fs-5 px-2 link-dark" href="https://www.linkedin.com/in/juan-cano-benito/"><i class="bi-github"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                

                    <div class="col-auto"><div class="small m-0 text-white">Juan Cano de Benito, Andrea Cimmino Arriaga, and Raúl García Castro</div>
					<div class="small m-0 text-white">Contact email: jcano@fi.upm.es, cimmino@fi.upm.es, or rgarcia@fi.upm.es</div>
					<div class="small m-0 text-white">Built with Bootstrap</div></div>
                    <div class="col-auto">
                        <a class="text-white">© Ontology Engineering Group</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
